html, body, #root, .App {
  background-color: #ffffff !important;
  color: #4a4a4a !important;
}


.navbar, .navbar-menu {
  background-color: #ffffff !important;
}

.navbar-item, .navbar-link {
  color: #4a4a4a !important;
  background-color: transparent !important;
}

.navbar-item:hover, .navbar-link:hover {
  background-color: #fafafa !important; 
  color: #3273dc !important;           
}


.navbar-item:focus, .navbar-link:focus {
  background-color: #ffffff !important;
  color: #4a4a4a !important;
}

.input {
  background-color: #ffffff !important;
  color: #363636 !important;
  border-color: #dbdbdb !important;
}

.input::placeholder {
  color: #7a7a7a !important;
}

.label {
  color: #363636 !important;
}

.preview-label {
  color: #7a7a7a;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

.button.is-white {
  background-color: #ffffff !important;
  color: #363636 !important;
  border: 1px solid #dbdbdb !important;
}
.message-body{
  background-color: #ccf4ff !important;
  color: #0045f4 !important;
   font-size: 1.3rem;
}